.App {
  text-align: center;
}

.cont{
  display: flex;
  width: 100%;
  margin: auto;
}
.cont .contA{
  width: 40%;
  background-image: url(http://localhost:3000/bg-main-desktop.png);
  height: 100vh;
  background-repeat: no-repeat;
}
.cont .contB{
  width: 60%;
  background: white;
  height: 100vh;
}